/* Some basic page styling */

        body {
            font-family: sans-serif;
            max-width: 90%;
            margin: auto;
            padding: 20px;
        }

        header {
            display: flex;
        }

        #heatmap {
            overflow: auto;
        }

        #heatmap table {
            border-collapse: collapse;
            min-width: 100%
        }

        #heatmap th {
            background-color: #00144d;
            color: #fff;
        }

        #heatmap td {
        min-width: 3em;
        padding: 0;
        font-size: .8rem;
        line-height: 1.2;
        border: none;
        border-top: 1px solid grey;
        }

        #heatmap tr {
        background: #fff;
        }

        th[data-sort=float] {
        /* Something you can count on */
        height: 250px;
        white-space: nowrap;
        position: relative;
        }

        th[data-sort]:hover {
        opacity: .7;
        cursor: pointer;
        }

        th[data-sort]:after {
        font-weight: 400;
        content: '\21C5';
        
        position: absolute;
        bottom: 0;
        }

        th[data-sort]:hover:after {
        font-weight: 700;
        }

        th[data-sort=float] > div {
        transform: 
        translate(30px, 95px)
        rotate(270deg);
        width: 0;
        }

        th[data-sort=float] > div > span {
        padding: 5px 10px;
        }

        .heatmap__cell--number {
        position: relative;
        }

        .heatmap__cell--number span {
        display: none;
        }

        .heatmap__cell--number:hover span {
        position: absolute;
        display: inline-block;
        color: black;
        background: rgba(255, 255, 255, .5);
        min-width: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        }

        #heatmap th {
        position: relative
        }

        /* 13. Basic Styling with CSS */

        #dose-graph-wrapper {
        background-color: #fff;
        display: none;
        overflow: visible !important;
        }

        .jquery-modal #dose-graph-wrapper {
        display: block;
        }

        /* Style the lines by removing the fill and applying a stroke */
        .line {
        fill: none;
        stroke: #090080;
        stroke-width: 3;
        }

        .overlay {
        fill: none;
        pointer-events: all;
        }

        /* Style the dots by assigning a fill and stroke */
        .dot {
        fill: #090080;
        stroke: #fff;
        }

        .focus circle {
        fill: none;
        stroke: steelblue;
        }

        .heatmap-caption {
            width: 340px;
            margin-left: auto;
            margin-right: 0;
        }
        